{% block content %}
<div id="sm-ikon-bar">
	<a href="" class="social-icon"><i class="fa fa-facebook"></i></a>
	<a href="" class="social-icon"><i class="fa fa-twitter"></i></a>
	<a href="" class="social-icon"><i class="fa fa-google"></i></a>
	<a href="" class="social-icon"><i class="fa fa-vimeo"></i></a>
	<a href="" class="social-icon"><i class="fa fa-instagram"></i></a>
	<a href="" class="social-icon"><i class="fa fa-youtube"></i></a>
</div>
{% endblock %}
