{% block content %}
<header>
	<div class="top-container">
		{% load static %}
		<img id="tc-bilde" src="{% static 'images/header2.png' %}" alt="Header-bilde" style="width:100%;">
		<div id="tc-text">
			<h1>Jessheim Danseskole</h1>
			<p>Jazz | Hip hop | Moderne | Klassisk | Barnedans</p>
		</div>
	</div>

<!-- <div class="header" id="myHeader"> -->
<div class="topnav" id="myTopnav">
	<a href="/">Hjem</a>
	<a href="/timeplan/">Timeplan</a>
	<a href="/stilarter">Stilarter</a>
	<a href="/pedagoger">Pedagoger</a>
	<a href="/priser">Priser</a>
	<a href="/forestillinger">Forestillinger</a>
	<a href="/kontaktoss">Kontakt Oss</a>
	<a style="font-size:20px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<!-- </div> -->

</header>
<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction2()};

// Get the header
var header = document.getElementById("myTopnav");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction2() {
  if (window.pageYOffset >= sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
{% endblock %}